<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950539290225-u09pk06btoo7q0hbkhkib18socm7js88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950539290225-u09pk06btoo7q0hbkhkib18socm7js88</string>
	<key>API_KEY</key>
	<string>AIzaSyDV2Y2radTLSt8eSRpyErNRNWGKdgwgSG8</string>
	<key>GCM_SENDER_ID</key>
	<string>950539290225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.balzo.pdfexpert</string>
	<key>PROJECT_ID</key>
	<string>pdf-expert-270b1</string>
	<key>STORAGE_BUCKET</key>
	<string>pdf-expert-270b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950539290225:ios:8f7dc2f175ecefc07b3dd0</string>
</dict>
</plist>