<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>monthly</key>
	<dict>
		<key>name</key>
		<string>standard_subscription</string>
		<key>offered</key>
		<false/>
	</dict>
	<key>monthly.freetrial</key>
	<dict>
		<key>name</key>
		<string>standard_subscription</string>
		<key>offered</key>
		<false/>
	</dict>
	<key>weekly</key>
	<dict>
		<key>name</key>
		<string>standard_subscription</string>
		<key>offered</key>
		<false/>
	</dict>
	<key>weekly.freetrial</key>
	<dict>
		<key>name</key>
		<string>standard_subscription</string>
		<key>offered</key>
		<true/>
	</dict>
	<key>yearly</key>
	<dict>
		<key>name</key>
		<string>standard_subscription</string>
		<key>offered</key>
		<false/>
	</dict>
	<key>yearly.freetrial</key>
	<dict>
		<key>name</key>
		<string>standard_subscription</string>
		<key>offered</key>
		<true/>
	</dict>
</dict>
</plist>
